/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    text-align: center;
    overflow: hidden;
    display: none;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color-light);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
    transition: var(--tran-03);
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(162, 162, 162);
    transition: var(--tran-03);
}

.customScrollbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --primary-text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
    font-weight: 600;
    text-align: left;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 65%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--primary-text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    width: 58%;
    height: 50px;
    display: inline-table;
    padding: 1px;
    transition: var(--tran-05);
}

.search-box-input{
    height: 100%;
    width: 93%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
    padding-left: 13px;
}

body.dark .search-box .icon{
    color: var(--text-color);
    transition: var(--tran-05);
}

.filter{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    width: 30%;
    height: 50px;
    display: inline-table;
    transition: var(--tran-05);
}

.filter-input{
    height: 100%;
    width: 87%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
    padding-left: 13px;
}

body.dark .filter .icon{
    color: var(--text-color);
    transition: var(--tran-05);
}

.dropdown-option{
    background-color: var(--sidebar-color);
    color: var(--text-color);
    border-radius: 5px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li .selected{
    background-color: var(--primary-color);
}

.sidebar li .selected .text{
    color: #FFF;
}

.sidebar li .selected .icon{
    color: var(--sidebar-color);
}

body.dark .sidebar li .selected .icon{
    color: var(--primary-text-color);
}

body.dark .sidebar li .selected .text{
    color: var(--primary-text-color);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--primary-text-color);
}

.sidebar li .hovertext {
    position: absolute;
    /* top: -20px; */
    left: calc(100% + 15px);
    z-index: 99;
    background: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    -webkit-backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    color: var(--text-color);
}

.sidebar.close li:hover .hovertext {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar.close li .hovertext {
    display: block;
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.section{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.section .title{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 5%;
    text-align: left;
}

.section .text{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 2px 5%;
    text-align: left;
}

.sidebar.close ~ .section{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .section .text{
    color: var(--text-color);
}

.container{
    text-align: center;
    position: relative;
    width: 17.7%;
    /* height: 170px; */
    height: auto;
    border-radius: 15px;
    line-height: 175%;
    text-decoration: hidden;
    background-color: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 15px;
    margin-top: 7px;
    margin-left: 3px;
    display: none;
    color: var(--text-color);
}

.container:hover{
    background-color: var(--primary-color);
    transition: var(--tran-05);
    color: #FFF;
    cursor: pointer;
}

body.dark .container:hover{
    background-color: var(--primary-color);
    transition: var(--tran-05)
}

.gameIframe{
    background:url(sgs-loading.png) center center no-repeat;
    background-color: var(--sidebar-color);
    overflow: hidden;
    width: 80%;
    /* height: 600px; */
    border-color: var(--text-color);
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 0;
    opacity: 1;
}

.gameIframeFull{
    background:url(sgs-loading.png) center center no-repeat;
    background-color: var(--sidebar-color);
    overflow: hidden;
    border-color: white;
    margin-bottom: 0;
    border: hidden;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100;
}

.iframeFocus{
    background-color: var(--sidebar-color);
    overflow: none;
    width: 80%;
    height: 600px;
    /* border-color: var(--text-color);
    border-width: 3px; */
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    opacity: 0.90;
    z-index: 9999;
    position: absolute;
    left: 9.8%;
    transform: translateY(-101.25%);
    /* bottom: 50%; */
    color: var(--text-color);
    display: block;
}

.game_img{
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.game_title{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.game_genre{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    line-height: 50%;
}

.gameViewFullscreen{
    margin-bottom: 0;
    border: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.fadedBackground{
    background-color: var(--sidebar-color);
    opacity: 70%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: absolute;
    transition: var(--tran-05)
}

.gameView{
    width: 40%;
    height: auto;
    max-height: 90%;
    background-color: var(--sidebar-color);
    position: relative;
    margin: auto;
    transform: translateY(25px);
    border-radius: 15px;
    padding: 15px;
    padding: 2vmin;
    padding-bottom: 35px;
    padding-bottom: 2.5%;
    padding-left: 20px;
    padding-left: 3vmin;
    padding-right: 20px;
    padding-right: 3vmin;
    z-index: 100000;
    transition: var(--tran-05);
    overflow-y: auto;
    overflow-x: hidden;
}

.gameViewTitle{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: var(--text-color)
}

.gameViewImg{
    width: 100%;
    height: auto;
    margin-right: 50%;
    border-radius: 5px;
}

.gameViewSubTitle{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: var(--text-color);
}

.gameViewText{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: var(--text-color)
}

.gameViewBack {
    background: transparent;
    /* background:  var(--primary-color); */
    right: 3vmin;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    /* transform: translate(1355%, -105%); */
    transform: translateY(-105%);
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    transition: var(--tran-05);
    color: var(--text-color);
    z-index: 999999;
    position: fixed;
    border: hidden;
}

.gameViewBack:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: hidden;
}

.playButton{
    width: 82%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-stretch: expanded;
    font-size: 15px;
    display: inline-table;
    float: left;
    border: hidden;
}

.playButton:hover{
    opacity: 0.7;
    color: #FFF;
    cursor: pointer;
    transition: var(--tran-05)
}

.reportButton{
    width: 15%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--body-color);
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-stretch: expanded;
    font-size: 15px;
    display: inline-table;
    float: right;
    border: hidden;
}

.reportButton:hover{
    opacity: 0.7;
    color: #FFF;
    cursor: pointer;
    transition: var(--tran-05)
}

.gamePageBtnBackground{
    border-radius: 6px;
    background-color: var(--sidebar-color);
    width: 80%;
    height: 50px;
    display: inline-table;
    padding: 1px;
    transition: var(--tran-05);
    display: inline-table
}

.gamePageBtn{
    border-radius: 15px;
    background-color: var(--sidebar-color);
    cursor: pointer;
    width: 19.8%;
    height: 40px;
    display: inline-table;
    padding: 1px;
    transition: var(--tran-05);
    display: inline-table;
    color: var(--text-color);
    font-weight: 500;
    padding: 11px;
}

.gamePageBtn:hover{
    background-color: var(--primary-color-light);
}

.controlsBox{
    min-width: 30%;
    /* height: 50px; */
    height: auto;
    border-radius: 10px;
    background-color: var(--primary-color);
    display: none;
    position: absolute;
    margin-left: 35%;
    z-index: 10000;
    /* transform: translateY(-70px); */
    padding: 10px;
    text-align: left;
    transition: var(--tran-05)
}

.suggestionBox{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color-light);
    padding: 12px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    border: hidden;
}

.suggestionBox:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--tran-05);
    color: #FFF;
    border: hidden;
}

.reportBox{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color-light);
    /* padding: 11px; */
    color: var(--text-color);
    font-size: 20px;
    border: hidden;
}

.reportBox:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    transition: var(--tran-05);
    color: #FFF;
    border: hidden;
}

.reportBox .hovertext6 {
    position: absolute;
    z-index: 99;
    background: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    -webkit-backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    color: var(--text-color);
    transform: translate(-115px, -3px);
    transition: var(--tran-05)
}

.reportBox:hover .hovertext6 {
    opacity: 1;
    pointer-events: auto;
    transition: var(--tran-05)
}

.controlsTitle{
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
}

.controlsText{
    color: #FFF;
    font-weight: 400;
}

.settingsBox{
    text-align: center;
    position: relative;
    width: 400px;
    /* height: 170px; */
    height: auto;
    border-radius: 15px;
    line-height: 175%;
    text-decoration: hidden;
    background-color: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: 3px;
    display: inline-table;
    color: var(--text-color);
    padding-bottom: 35px;
}

.settingsTitle {
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.settingsDescription {
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    line-height: 130%;
}

.settingsSwitch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    transform: translateY(-40px);
}
.switchBack{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switchDot{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

/* body.dark .switchDot{
    left: 30px;
} */

.settingsSelect{
    position: absolute;
    right: 10px;
    height: 25px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transform: translateY(1px); 
    background-color: var(--toggle-color);
    color: var(--sidebar-color);
    font-weight: 600;
    border: hidden;
    padding: 1px;
    padding-left: 5px;
}

.settingsSelectOption{
    background-color: var(--toggle-color);
    color: var(--sidebar-color);
    font-weight: 600;
    border: hidden;
}

.blogBox{
    text-align: center;
    position: relative;
    width: 30%;
    /* height: 170px; */
    height: auto;
    border-radius: 15px;
    line-height: 175%;
    text-decoration: hidden;
    background-color: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-top: 10px;
    /* padding-bottom: 15px; */
    /* margin-top: 7px; */
    margin-left: 3px;
    display: inline-table;
    color: var(--text-color);
    padding-bottom: 30px;
}

.blogBox:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

.blogTitle {
    /* color: var(--text-color); */
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.blogDate {
    color: #ccc;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    line-height: 110%;
}

.blogDescription {
    /* color: var(--text-color); */
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    line-height: 1%;
}

.blogText{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 2px 5%;
    text-align: left;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #18191a;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: var(--tran-05);
    opacity: 1;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    border: 4px solid #ccc;
    animation: loader 2s infinite ease;
    transition: var(--tran-05);
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ccc;
    animation: loader-inner 2s infinite ease-in;
    transition: var(--tran-05);
}
  
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
  
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

.blogBack {
    background: var(--sidebar-color);
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transform: translate(-130%, -82px);
    color: var(--text-color);
    font-size: 30px;
    padding: 5px;
    transition: var(--tran-05)
}

.blogBack:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.blogBack .hovertext7 {
    position: absolute;
    z-index: 99;
    background: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    -webkit-backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    backdrop-filter: blur(40px) saturate(180%) hue-rotate(50deg);
    color: var(--text-color);
    transform: translate(-110px, 1px);
    transition: var(--tran-05)
}

.blogBack:hover .hovertext7 {
    opacity: 1;
    pointer-events: auto;
    transition: var(--tran-05)
}

.homeSection {
    width: 90%;
    height: 307px;
    height: 23.1vw;
    background-color: var(--primary-color-light);
    position: relative;
    margin: auto;
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 2.5px 5px 8px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.homeSection1 {
    width: 90%;
    height: 307px;
    height: 23.1vw;
    background-color: var(--primary-color);
    position: relative;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2.5px 5px 8px rgba(0, 0, 0, 0.3);
}

body.dark .homeSection1 {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.homeSectionImg {
    /* width: 35%; */
    width: 403px;
    width: 30vw;
    height: auto;
    display: block;
    position: absolute;
    /* padding-top: 35px;
    padding-left: 10%; */
    display: inline-table;
    /* padding-top: 35px; */
    border-radius: 5px;
}

.homeSectionTitle {
    width: 100%;
    font-size: 20px;
    font-size: 1.4vw;
    font-weight: 600;
    float: right;
    /* padding-right: 10%;
    padding-top: 2%; */
    text-align: center;
    display: inline-table;
    line-height: 100%;
}

.homeSectionText {
    width: 100%;
    font-size: 15px;
    font-size: 1.13vw;
    font-weight: 400;
    float: right;
    /* padding-right: 10%; */
    padding-top: 5%;
    text-align: center;
    display: inline-table;
    line-height: 130%;
}

.homeSectionPlayBtn {
    width: 60%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--primary-color);
    display: inline-table;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-size: 1.13vw;
    padding: 8px;
    transform: translateY(8px);
    border: none;
}

body.dark .homeSectionPlayBtn {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.homeSectionPlayBtn:hover {
    background-color: var(--body-color);
    cursor: pointer;
    color: var(--text-color);
}

body.dark .homeSectionPlayBtn:hover {
    background-color: var(--body-color);
    cursor: pointer;
    color: #fff;
}

.messageBanner {
    width: 90%;
    /* min-height: 50px; */
    height: auto;
    background-color: var(--primary-color);
    position: relative;
    margin: auto;
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    /* padding-bottom: 53px; */
    padding-bottom: 37px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    display: none;
}

body.dark .messageBanner {
    color: var(--primary-text-color)
}

.messageBannerTitle {
    font-size: 20px;
    font-weight: 600;
}

.messageBannerText {
    font-size: 15px;
}

.messageBannerButton {
    /* width: 25%; */
    width: 100%;
    height: 40px;
    background-color: var(--body-color);
    float: right;
    padding: 1px;
    color: var(--text-color);
    border-radius: 20px;
    border: hidden;
    font-weight: 500;
    transform: translate(15px, -12px)
    /* transform: translateY(-12px); */
}

/* /* body.dark .messageBannerButton {
    background-color: var(--sidebar-color);
} */

.messageBannerButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.mb2 {
    padding-bottom: 16px;
}

.mbb2 {
    transform: translate(-12px, -33px)
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #3a3b3c;
    color: #fff;
}

.sidebar .bottom-content li.profile {
    background: var(--primary-color-light);
}

/* .sidebar .bottom-content li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: var(--tran-05);
    overflow: hidden;
}

.sidebar.open .bottom-content li.profile {
    width: 250px;
}

/* .sidebar .bottom-content li.profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
} */

/* .sidebar .bottom-content li.profile .name, .sidebar .bottom-content li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
} */

.login {
    width: 40%;
    height: auto;
    position: relative;
    margin: auto;
    background-color: var(--sidebar-color);
    padding: 15px;
    border-radius: 20px;
    z-index: 1002;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 15px;
    border: hidden;
    /* border: 1px solid var(--primary-color); */
    color: var(--text-color);
    outline: none;
    background: var(--primary-color-light);
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: var(--body-color);
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    /* padding: 1rem 2rem; */
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    background: var(--primary-color-light);
    height: 45px;
}

.form__button:hover {
    background: var(--body-color);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
    color: var(--text-color);
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
