#contextmenu{
    background-color:#ccc;
    border-style:solid;
    border-width:1px;
    width:100px;
    display:none;
    position: absolute;
  }
  #contextmenu td{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding:2px;
    padding-left:4px;
  }

  .game-iframe {
      border: solid 1px black;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap:hidden;
    resize: both;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 70%;
    height: 90%;
  }

  .neon {
    text-shadow: 
          0 0 5px #ff7bac,
          0 0 10px #ff7bac,
          0 0 20px #ff7bac,
          0 0 40px #ff7bac,
          0 0 80px #ff7bac,
          0 0 90px #ff7bac,
          0 0 100px #ff7bac,
          0 0 150px #ff7bac;
  }

  .neon-blue {
    text-shadow: 
          0 0 5px #005eff,
          0 0 10px #005eff,
          0 0 20px #005eff,
          0 0 40px #005eff,
          0 0 80px #005eff,
          0 0 90px #005eff,
          0 0 100px #005eff,
          0 0 150px #005eff;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    width: 70%;
  }

  .game-iframe-full {
    border:hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
  }

  .cl {
    color:#34a2eb;
  }

  a:link {
    color:#ff7bac;
    opacity:100%
  }

  a:active {
    color:#ff7bac;
    opacity:100%
  }

  a:hover {
    color:#ff7bac;
    opacity:50%
  }

  a:visited {
    color:#ff7bac;
    opacity:100%
  }

  body {
    height: 110%;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height:90%;
    
    background-color: #000000;
    color:white;
    font-family: "Press Start 2P", sans-serif;
  }

  ::-webkit-scrollbar {
      width: 0;
      background: blue;
  }

  hr {
    border-color:white;
  }

  .container {
    text-align:center;
    position: relative;
    max-width: 200px;
    border-radius:5px;
      line-height:0%;
    text-decoration:hidden;
    background-color:#000000;
    padding:10px;
    padding-bottom:0%;
    margin-top:7px;
    margin-left:3px;
  }

  .gameIframe {
    background:url('sgs-loading.png') center center no-repeat;
    overflow: hidden;
    width:80%;
    height:600px;
    border-color:white;
    border-radius:5px;
    margin-bottom:0;
  }
  
  .gameIframeFull {
    background:url('sgs-loading.png') center center no-repeat;
    overflow: hidden;
    border-color:white;
    margin-bottom:0;
    border:hidden;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0%;
    bottom:0%;
    right:0%;
    width:100%;
    height:100%;
  }

  .gameIframeWithoutBackground {
    overflow: hidden;
    width:80%;
    height:600px;
    border-color:white;
    border-radius:5px;
    margin-bottom:0;
  }
  
  .gameIframeFullWithoutBackground {
    overflow: hidden;
    border-color:white;
    margin-bottom:0;
    border:hidden;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0%;
    bottom:0%;
    right:0%;
    width:100%;
    height:100%;
  }
  
  .gameBottom {
    background-color:#7a7a7a;
    text-align:center;
    color:black;
    padding:10px;
    line-height:120%;
    font-size:20px;
    width:60%;
    margin-top:0;
  }  

  .fullScreenBtn {
    background-color:#141414;
    border-radius:5px;
    color:white;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
  }

  .game-img {
    border-radius:5px;
    display: block;
    width: 200px;
    height: 200px;
    height: auto;
  }

  #searchbar{
    text-align:center;
    padding:5px;
    border-radius: 5px;
      border:none;
      margin:0px;
    }

    input {
        font-family:"Radio Canada";
        font-size:15px;
    }
    input[type="text"], textarea {
      background-color : #262626; 
        color:#ffffff;
    }
    input:focus {
        outline:none;
    }
     
    input[type=text] {
        height:25px;
          width: 30%;
          -webkit-transition: width 0.1s ease-in-out;
          transition: width 0.1s ease-in-out;
       }
       input[type=text]:focus {
         width: 33%;
    }

  .movie-img {
    display: block;
    width: 200px;
    height: 300px;
  }


  h3 {
    text-decoration:none;
  }
  h4 {
    text-decoration:none;
  }
  a {
    text-decoration:none;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #262626;
  color: #767676;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 15px;
  font-family: Radio Canada;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #333333;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}